.auth {
  background-image: url("/images/icanloginimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.auth::after {
  content: "";
  position: absolute;
  inset: 0; 
  /* background-color: rgba(0, 0, 0, 0.5);  */
  z-index: 1;
}
.auth-content {
  position: relative;
  z-index: 2;
}